.about_title {
  margin-top: 15px;
  margin-bottom: 25px;
}

.about_on_text {
  background-color: #1dd1a1;
  color: #222f3e;
}

.about_main__warp {
  display: flex;
}

.about_title {
  color: white;
  font-size: 100px;
}
.about_main__picture-in {
  width: 300px;
}

.about_main__explain {
  color: white;
}

.about_main__subject {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: white;
  font-size: 65px;
  height: 200px;
}

.about_main__subject-wrap div:nth-child(1):hover {
  background-color: #1dd1a1;
  color: black;
}
.about_main__subject-wrap div:nth-child(2):hover {
  background-color: #48dbfb;
  color: black;
}
.about_main__subject-wrap div:nth-child(3):hover {
  background-color: #ff6b6b;
  color: black;
}
.about_main__subject-wrap div:nth-child(4):hover {
  background-color: #feca57;
  color: black;
}

.about_main__subject-subtitle {
  font-size: 20px;
  margin-top: 30px;
  margin-right: 30px;
}

.about_main__explain-title {
  font-size: 70px;
}

.about_main__explain-text {
  font-size: 25px;
}
