.top_cover {
  height: 450px;
  background-color: #fff;
  display: flex;
  background: rgb(215, 161, 240);
  background: radial-gradient(
    circle,
    rgba(215, 161, 240, 1) 0%,
    rgba(160, 198, 234, 1) 47%,
    rgba(217, 160, 232, 1) 68%,
    rgba(245, 144, 144, 0.8407738095238095) 100%
  );
}

.top_title {
  height: 200px;
}

.top_title__content {
  margin-top: 150px;
  margin-left: 150px;
  width: 700px;
  height: 100px;
  color: white;
  font-size: 50px;
}
.top_title__content :nth-child(2) {
  margin-top: 28px;
  font-size: 25px;
  opacity: 0.7;
}

.top_cover__left {
  width: 70%;
}

.top_cover__cover {
  width: 450px;
  margin-top: 85px;
  margin-right: 40px;
}

.top_cover__cover-content {
  width: 450px;
}
