.top_cover {
  height: 450px;
  background-color: #ecf0f1;
  display: flex;
  background: rgb(41, 98, 99);
  background: radial-gradient(
    circle,
    rgba(41, 98, 99, 1) 0%,
    rgba(186, 67, 68, 1) 100%
  );
}
.top_cover__left-git-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 19%;
  height: 80px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #ecf0f1;
  border-bottom: 4px solid #5f27cd;
}
.top_cover__left-git-wrap_wrap {
  text-decoration: none;
}

.top_cover__left-git-wrap:hover {
  background-color: #c8d6e5;
  color: #576574;
  border-bottom: 4px solid #341f97;
}
.top_cover__left-git {
  font-size: 50px;
  color: black;
}
.top_cover__left-git_text {
  font-size: 25px;
}

.top_title {
  height: 200px;
}

.top_title__content {
  margin-top: 150px;
  margin-left: 150px;
  width: 700px;
  height: 100px;
  color: white;
  font-size: 50px;
}
.top_title__content :nth-child(2) {
  margin-top: 28px;
  font-size: 25px;
  opacity: 0.7;
}

.top_cover__left {
  width: 70%;
  display: flex;
}

.top_cover__cover {
  width: 450px;
  margin-top: 85px;
  margin-right: 40px;
}

.top_cover__cover-content {
  width: 450px;
}
